@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

body {
  background-color: var(--primary-bgColor);
}

/**************************/
/****REUSABLE COMPONENTS***/
/**************************/

/***** button *******/
.mainPages-button,
.mainPages-button:link,
.mainPages-button:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  background-color: var(--primary-color);
  color: #fff;
}

.mainPages-button:hover,
.mainPages-button:active {
  background-color: var(--primary-color-sh-er);
}

.mainPages-button--sm--light,
.mainPages-button--sm--light:link,
.mainPages-button--sm--light:visited {
  padding: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--primary-color-ti-st);
  color: var(--primary-color-sh-st);
}

.mainPages-button--sm--light:hover,
.mainPages-button--sm--light:active {
  background-color: var(--primary-color-ti-er);
}

/***** section ttle *******/
.mainPages-section__header {
  padding: 3rem 0rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.mainPages-section__img {
  height: 4.8rem;
}

.mainPages-section__title {
  font-size: 4.4rem;
  color: var(--primary-color-sh-er);
  font-weight: 600;
}

/****BELOW 544px (Phones)****/
@media (max-width: 34em) {
  .mainPages-section__title {
    font-size: 3rem;
  }
}

/**************************/
/******** UTILITIES *******/
/**************************/

.text-primary {
  color: var(--primary-color) !important;
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-primary--ti-er {
  background-color: var(--primary-color-ti-er);
}

.bg-primary--ti-st {
  background-color: var(--primary-color-ti-st);
}

.bg-primary--sh-st {
  background-color: var(--primary-color-sh-st);
}

.bg-primary--sh-er {
  background-color: var(--primary-color-sh-er);
}

.border-primary {
  border: var(--primary-color) 3px solid;
}

.section-pb {
  padding-bottom: 6rem;
}

.section-pt {
  padding-top: 10rem;
}

.fs-lg {
  font-size: 2rem;
}

.seccion {
  padding: 2rem 0;
}

.seccion p {
  font-size: 1.2em;
  text-align: center;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primaryFont);
  margin: 0;
}

h2 {
  font-size: 2.4em;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  font-family: var(--fontPTSans);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.button {
  background-color: var(--primaryDarkColor);
  padding: 0.5rem 3rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  margin-right: 0;
}

.button:hover {
  background-color: #8a1e00;
}

/* UTILITIES */

section {
  /* margin: 4rem auto; */
}

/* .container {
  width: 90%;
  margin: 0 auto;
} */

@media (min-width: 768px) {
  .contenedor {
    width: 90%;
    margin: 0 auto;
  }
}

.parallax::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  background-attachment: fixed;
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}

.btn-primaryBG {
  color: var(--primaryDarkColor);
  background-color: var(--secondaryColor);
  border-color: var(--secondaryColor);
}

.btn-primaryBG:hover {
  color: var(--secondaryColor);
  background-color: var(--primaryDarkColor);
}

/**************************/
/******** NAVBAR **********/
/**************************/

.navbar a img {
  max-height: 50px;
}

.nav-item {
  margin-right: 1.5rem;
}

/**************************/
/******** HERO **********/
/**************************/
.mainPages-hero {
  position: relative;
  /* background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../img/morgana.jpg); */
  background: url("../../../public/assets/imgs/morgana.jpg");
  background-position: left center;
  background-size: cover;
  height: 100vh;
}

.mainPages-hero::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

.mainPages-hero--content {
  position: absolute;
  top: 10rem;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainPages-hero--heading {
  font-family: "Fredoka One", cursive;
  color: #fff;
  letter-spacing: -0.5px;
  font-size: 5rem;
  text-align: center;
}

.mainPages-hero--socialNav {
  font-size: 3rem;
  margin: 2rem auto;
}

.mainPages-hero--socialNav a {
  color: white;
  margin: 0 0.5em;
}

.mainPages-hero--socialNav a:hover {
  color: var(--custom-cyan);
  margin: 0 0.5em;
}

.mainPages-hero p {
  /* display: block; */

  max-width: 60%;
  margin: 8em 2em auto auto;
  color: white;
  text-align: right;
  font-size: 3rem;
}

/* .blue-text {
  color: var(--secondaryColor);
  font-weight: bolder;
} */

@media (min-width: 768px) {
  .mainPages-hero {
    background-position: center center;
  }

  .mainPages-hero--heading {
  }
}

/* ************************************************************************************************ */
/**************************************** CHARACTERISTICS *******************************************/
/* ************************************************************************************************ */

.mainPages-sectionChar__characteristics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  justify-content: space-between;
}

.mainPages-sectionChar__characteristic {
  border-radius: 10%;
  flex: 0 0 calc(60% - 1rem);
  margin: 1rem auto;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.mainPages-sectionChar__characteristic img {
  display: block;
  height: 10rem;
  margin: 1rem auto;
}

.mainPages-sectionChar__char-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  color: white;
  /* color: var(--custom-lightgray); */
  padding: 0 1rem;
}

.mainPages-sectionChar__char-text {
  padding: 1rem;
  color: white;
  font-size: 1.6rem;
  line-height: 1.5;
}

/****BELOW 944px (Tablets)****/

@media (max-width: 59em) {
  .mainPages-sectionChar__characteristics {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

/****BELOW 544px (Phones)****/
@media (max-width: 34em) {
  .mainPages-sectionChar__characteristics {
    grid-template-columns: repeat(1, auto);
    padding: 0 2rem;
    margin: 0 3rem;
  }
}

/* ************************************************************************************************ */
/**************************************** PROMOTIONS *******************************************/
/* ************************************************************************************************ */

.carousel {
  margin: 0 auto;
}

.carousel img {
  margin: 0 auto;
  height: 60vh;
  width: auto;
}

/****BELOW 944px (Tablets)****/

@media (max-width: 59em) {
  .carousel {
    margin: 0 4rem;
  }
  .carousel img {
    margin: 0 auto;
    height: 40vh;
    width: auto;
  }
}

/* ************************************************************************************************ */
/**************************************** COLLABORATORS *******************************************/
/* ************************************************************************************************ */

.mainPages-sectionCollaborators__collaborators {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
}

.mainPages-sectionCollaborators__collaborator {
  border: solid 2px var(--primary-color);
  border-radius: 10%;
  flex: 0 0 calc(33% - 1rem);

  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
}

.mainPages_collaboratorImg {
  object-fit: fill;
  filter: grayscale();
  transition: all 0.5s ease-in-out;
}

.mainPages-sectionCollaborators__collaborator p {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem 0.5rem;
  margin: 0;
  color: white;

  font-size: 1.6rem;
  line-height: 1.5;

  transition: all 0.5s ease-in-out;
}

.mainPages-sectionCollaborators__collaborator p .position {
  color: var(--primary-color-ti-er);
  font-weight: bold;
}

.mainPages-sectionCollaborators__collaborator:hover img {
  filter: grayscale(0);
  transform: scale(1.2);
}

.mainPages-sectionCollaborators__collaborator:hover p {
  bottom: -6rem;
  opacity: 0;
}

/****BELOW 944px (Tablets)****/
@media (max-width: 59em) {
  .mainPages-sectionCollaborators__collaborator {
    flex: 0 0 calc(50% - 1rem);
  }
}

/****BELOW 544px (Phones)****/
@media (max-width: 34em) {
  .mainPages-sectionCollaborators__collaborators {
    justify-content: center;
    margin: 0 4rem;
  }
  .mainPages-sectionCollaborators__collaborator {
    justify-self: center;
    flex: 0 0 90%;
    padding: 0 auto;
  }
}

/* ************************************************************************************************ */
/**************************************** SERVICES *************************************************/
/* ************************************************************************************************ */

.mainPages-sectionCollaborators__services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mainPages-sectionCollaborators__service {
  flex: 0 0 calc(33.33% - 1rem);
}

.mainPages-sectionCollaborators__service img {
  max-width: 100%;
  max-height: 100%;
}

.mainPages-sectionCollaborators__service p {
  margin-bottom: 3rem;
  padding: 1rem;
  text-align: center;
  font-size: 2.4rem;
  background-color: var(--primary-color-ti-st);
  color: var(--primary-color-sh-st);
  font-weight: 300;
}

/****BELOW 944px (Tablets)****/
@media (max-width: 59em) {
  .mainPages-sectionCollaborators__service {
    flex: 0 0 calc(50% - 1rem);
  }
}
/* ************************************************************************************************ */
/**************************************** CONTACT *************************************************/
/* ************************************************************************************************ */

.leaflet-container {
  height: 60vh;
}

.mainPages-sectionContact__branches {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.mainPages-sectionContact__branch {
  padding: 1rem;
  flex: 0 0 calc(33.33% - 1rem);

  background-color: var(--primary-color-ti-er);
  width: 100%;
  font-size: 1.6rem;
  color: white;
}

.mainPages-sectionContact__branchName {
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  background-color: var(--primaryDarkColor);
}

.mainPages-sectionContact__branch i {
  color: var(--primary-color);
}

/****BELOW 544px (Phones)****/
@media (max-width: 34em) {
  .mainPages-sectionContact__branch {
    flex: 0 0 calc(80% - 1rem);
    margin: 0 auto;
  }
}

/* ************************************************************************************************ */
/**************************************** FOOTER  ***************************************************/
/* ************************************************************************************************ */
.mainPages-site-footer {
  background-color: var(--primary-color-sh-st);
  color: white;
  padding: 0.66em;
  text-align: center;
}

.mainPages-site-footer__social ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.mainPages-site-footer__social i {
  color: white;
  font-size: 1.6rem;
}

.mainPages-site-footer__social i:hover {
  color: var(--primary-color-ti-st);
}

/* ************************************************************************************************ */
/* ************************************************************************************************ */
/**************************************** ADVICES PAGE **********************************************/
/* ************************************************************************************************ */
/* ************************************************************************************************ */

/* Bottom section */
.blog-post {
  display: flex;
  justify-content: space-between;
  margin: 3em 0;
  background-color: var(--primary-color-ti-er);
  align-items: center;
  padding: 1.5em;
  border-radius: 1%;
}

.blog-img {
  flex-basis: 40%;
}

.text-post {
  flex-basis: calc(60% - 3rem);
}

.text-post h4 {
  text-transform: uppercase;
  margin: 0 0;
  line-height: 1.4;
  font-size: 2rem;
  color: var(--primary-color-sh-er);
}

.text-post a {
  text-decoration: none;
}

.text-post p {
  font-size: 1.6rem;
  color: rgb(21, 21, 21);
  font-weight: 500;
}

.text-post span {
  color: white;
}

.carousel iframe {
  margin: 0 auto;
  width: 100%;
  height: 40rem;
}

/* ************************************************************************************************ */
/* ************************************************************************************************ */
/**************************************** SERVICES PAGE **********************************************/
/* ************************************************************************************************ */
/* ************************************************************************************************ */

.mp-service__services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.mp-service__service {
  color: #fff;
  flex-basis: calc(50% - 2rem);

  /* flex-basis: calc(100% - 1rem); */
  padding: 1rem;
  border-radius: 3%;
  overflow: hidden;

  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.mp-service__img {
  text-align: center;
  flex-basis: calc(50% - 1rem);
  max-width: 100%;
  align-self: center;
}

.mp-service__content {
  flex-basis: calc(50% - 1rem);

  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: space-evenly;
}

.mp-service__content h3 {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  text-align: center;
}

/****BELOW 944px (Tablets)****/
@media (max-width: 59em) {
  .mp-service__service {
    flex: 0 0 calc(80% - 1rem);
  }
}

/* ************************************************************************************************ */
/* ************************************************************************************************ */
/**************************************** TEAM PAGE **********************************************/
/* ************************************************************************************************ */
/* ************************************************************************************************ */

.mp-team__item {
  padding: 1rem;
  margin: 3rem;
  border-radius: 2%;
}

.mp-team__header {
  text-align: center;
  padding: 2rem;
}
.mp-team__item h3 {
  color: var(--primary-color-sh-st);
  text-transform: uppercase;
  font-weight: 600;
}

.mp-team__item h4 {
  font-style: italic;
  font-size: 2rem;
  color: #fff;
}

.mp-team__content {
  display: flex;
  gap: 3rem;

  margin: 0 auto;

  justify-content: space-between;
  align-items: center;
}

.mp-team__img {
  flex-basis: 45%;
}
.mp-team__img img {
  max-width: 100%;
  border-radius: 2%;
}

.mp-team__text {
  flex-basis: 55%;
  line-height: 1.5;
  font-size: 1.8rem;
  color: #fff;
}

/****BELOW 944px (Tablets)****/
@media (max-width: 59em) {
  .mp-team__content {
    flex-direction: column;
  }
}

/* ************************************************************************************************ */
/* ************************************************************************************************ */
/**************************************** COMPANY PAGE **********************************************/
/* ************************************************************************************************ */
/* ************************************************************************************************ */

.mp-video-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 4rem;
}

.mp-company__text {
  font-size: 1.8rem;
  line-height: 1.5;
  color: var(--primary-color-sh-st);
  width: 66%;
  margin: 0 auto;
}
.mp-company__text h3 {
  margin: 0.5rem auto;
  font-size: 3.6rem;
  font-weight: 300;
  text-transform: uppercase;
}

/****BELOW 944px (Tablets)****/
@media (max-width: 59em) {
  .mp-company__text {
    width: 80%;
  }
}
/* ************************************************************************************************ */
/* ************************************************************************************************ */
/**************************************** SERVIECS PAGES ********************************************/
/* ************************************************************************************************ */
/* ************************************************************************************************ */

.mainPages-service-only-page {
  min-height: 90vh;
}

.service-only-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-only-image {
  width: 95%;
  text-align: center;
  font-size: 30px;
  float: none;
  padding: 2rem;
  margin: 0 auto;
}

.service-only-image img {
  margin: auto;
}

.service-only-text {
  color: var(--secondaryColor);
  font-size: 1.6rem;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .service-only-container {
    display: block;
  }

  .service-only-image {
    width: 50%;
    float: left;
    padding: 0 2rem 2rem 0;
  }
}

.service-only-list {
  display: inline-block;
  list-style: square;
  padding-left: 1rem;
  margin-left: 1rem;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
