.collaborator {
  padding: 20px;
}

.collaboratorTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.collaboratorAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.collaboratorContainer {
  display: flex;
  margin-top: 20px;
}

.collaboratorShow {
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.collaboratorShowTop {
  display: flex;
  align-items: center;
}

.collaboratorShowImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.collaboratorShowTopTitle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.collaboratorShowUsername {
  font-weight: 600;
}

.collaboratorShowUserTitle {
  font-weight: 300;
}

.collaboratorShowBottom {
  margin-top: 20px;
}

.collaboratorShowTitle {
  font-size: 14px;
  font-weight: 600;
  color: rgb(175, 170, 170);
}

.collaboratorShowInfo {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  color: #444;
}

.collaboratorShowIcon {
  font-size: 16px !important;
}

.collaboratorShowInfoTitle {
  margin-left: 10px;
}

.collaboratorUpdate {
  flex: 2;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin-left: 20px;
}

.collaboratorUpdateTitle {
  font-size: 24px;
  font-weight: 600;
}

.collaboratorUpdateForm {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.collaboratorUpdateItem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.collaboratorUpdateItem > label {
  margin-bottom: 5px;
  font-size: 14px;
}

.collaboratorUpdateInput {
  border: none;
  width: 250px;
  height: 30px;
  border-bottom: 1px solid gray;
}

.collaboratorUpdateInputTextArea {
  width: 450px;
  height: 300px;

  border: none;
  background-color: rgb(221, 221, 221);
}

.collaboratorUpdateRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.collaboratorUpdateUpload {
  display: flex;
  align-items: center;
}

.collaboratorUpdateImg {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.collaboratorUpdateIcon {
  cursor: pointer;
}

.collaboratorUpdateButton {
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
  background-color: darkblue;
  color: white;
  font-weight: 600;
}
