@import "u-general";
@import "u-spacing";

// TODO DELETE:

.mt-2r {
  margin-top: 2rem;
}
.mt-3r {
  margin-top: 3rem;
}
.mt-4r {
  margin-top: 4rem;
}

.mt-5r {
  margin-top: 5rem;
}
.mt-6r {
  margin-top: 6rem;
}

.mt-7r {
  margin-top: 7rem;
}

.mt-8r {
  margin-top: 8rem;
}

.mt-9r {
  margin-top: 9rem;
}

.mt-10r {
  margin-top: 10rem;
}

// MARGIN BOTTOM
.mb-1r {
  margin-bottom: 1rem !important;
}
.mb-2r {
  margin-bottom: 2rem !important;
}
.mb-3r {
  margin-bottom: 3rem !important;
}
.mb-4r {
  margin-bottom: 4rem !important;
}

.mb-5r {
  margin-bottom: 5rem !important;
}
.mb-6r {
  margin-bottom: 6rem !important;
}

.mb-7r {
  margin-bottom: 7rem !important;
}

.mb-8r {
  margin-bottom: 8rem !important;
}

.mb-9r {
  margin-bottom: 9rem !important;
}

.mb-10r {
  margin-bottom: 10rem !important;
}

// Margin right
.me-4r {
  margin-right: 4rem !important;
}

.me-10r {
  margin-right: 10rem !important;
}

// ALIGN
.center-content {
  display: flex;
  justify-content: center;
}

.right-content {
  display: flex;
  justify-content: end;
}

// status
.txt-success {
  color: #fff !important;
  background-color: #198754 !important;
}

.txt-success {
  color: #fff !important;
  background-color: #198754 !important;
}

.txt-warning {
  color: #000;
  background-color: #ffc107 !important;
}

.txt-danger {
  color: #fff !important;
  background-color: #dc3545 !important;
}

.txt-gray {
  color: #fff !important;
  background-color: #6c757d !important;
}

.txt-dark {
  color: #fff !important;
  background-color: #000 !important;
}
