.pie-chart-container {
  height: 20rem;
}

/************************************************/
/************************************************/
/************** CLEANUPS *************************/
/************************************************/
/************************************************/

/************************************************/
/************** SUMMARY *************************/
/************************************************/

.pie-chart-container {
  height: 20rem;
}

.db-cleanups-sum-branch-card__content {
  display: grid;
  grid-template-columns: 70% 20%;
  justify-content: space-between;

  align-items: center;
  gap: 1rem;
}
