.headingWithImg {
  width: 60%;
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 2rem;
  align-items: center;
  padding: 2rem;
  margin-bottom: 3rem;
  padding-bottom: 5rem;

  &_img {
    max-height: 20rem;
    box-shadow: $boxShadow1;
    border-radius: 3%;
  }

  @media (max-width: $bp-md) {
    width: 100%;
  }
}
