@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

:root {
  --custom-cyan: #44d9e6;
  --custom-yellow: #ffbd4a;
  --custom-orange: #ff5b5b;
  --custom-darkblue: #0e368d;
  --custom-lightblue: #5583a7;
  --custom-gray: #afafaf;
  --white: #fff;
  --black: #000;

  --primaryFont: "Lato";
  --secondaryFont: "Russo One";
  --fontPTSans: "PT Sans";
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  
} */

/* body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* app container */
/* .app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

/* LoginPage */
